@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #8B5CF6;
    --off-white: #F3F4F6;
    --dark-grey: #6B7280;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin: 2rem 0rem;
}

/* container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;

}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 0.5rem;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */
.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-grey);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/*section*/
.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

/* blog */

.blog-container {
    display: flex;
    flex-direction: column;
    width:70vw;
    margin: auto;
    padding-bottom: 6rem;
}
.blog-heading {
    text-align: center;
    font-size: x-large;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.blog-article {
    
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.blog-image-1 {
    width: 80%;
    max-height: 20rem;
    margin: auto;
    margin-top: 12px;
}

.blog-page-image {
    max-width: 60%;
    max-height: 8rem;
    margin-top: 2rem;
}